<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>dabba</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">


        <link rel="stylesheet" href="assets/css/iconfont.css">
        <link rel="stylesheet" href="assets/css/slick/slick.css">
        <link rel="stylesheet" href="assets/css/slick/slick-theme.css">
        <link rel="stylesheet" href="assets/css/stylesheet.css">
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets/css/jquery.fancybox.css">
        <link rel="stylesheet" href="assets/css/bootstrap.css">
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/magnific-popup.css">
        <!--        <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">-->


        <!--For Plugins external css-->
        <link rel="stylesheet" href="assets/css/plugins.css" />

        <!--Theme custom css -->
        <link rel="stylesheet" href="assets/css/style.css">

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="assets/css/responsive.css" />

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="./assets/js/login.js"></script>

        <style>
            /* CSS styles for the login and register forms */
            .form-container {
              max-width: 400px;
              margin: 0 auto;
              padding: 20px;
              background-color: #f2f2f2;
            }
            .form-container input[type="text"],
            .form-container input[type="password"] {
              width: 100%;
              padding: 10px;
              margin-bottom: 15px;
            }
            .form-container button {
              width: 100%;
              padding: 10px;
              background-color: orange;
              color: white;
              border: none;
              cursor: pointer;
            }
          </style>
    

        

    </head>
    <body data-spy="scroll" data-target=".navbar-collapse">

        <div class='preloader'><div class='loaded'>&nbsp;</div></div>
        <div class="culmn">
            <header id="main_menu" class="header navbar-fixed-top">            
                <div class="main_menu_bg">
                    <div class="container">
                        <div class="row">
                            <div class="nave_menu">
                                <nav class="navbar navbar-default">
                                    <div class="container-fluid">
                                        <!-- Brand and toggle get grouped for better mobile display -->
                                        <div class="navbar-header">
                                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                                <span class="sr-only">Toggle navigation</span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                            </button>
                                            <a class="navbar-brand" href="#home">
                                                <img  class="logoooo"  src="assets/images/logo.jpg"/>
                                            </a>
                                        </div>

                                        <!-- Collect the nav links, forms, and other content for toggling -->



                                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                                            <ul class="nav navbar-nav navbar-right">
                                                <li><a href="#home">HOME</a></li>
                                                
                                                <!-- <li><a href="#portfolio">PORTFOLIO</a></li> -->
                                                <li><a href="#pricing">RESOURCES</a></li>
                                                <li><a href="#team">DONATE</a></li>
                                               
                                                <!-- <li><a href="#contact">CONTACT</a></li> -->
                                                <li><a href="#contact">RECIPES</a></li>
                                                <li><a href="#blog">Login/Register</a></li>
                                                <!-- <li><a href="#history">ABOUT US</a></li> -->
                                               
                                                    <!-- <li><a href="#" id="loginBtn">Login/Register</a></li> -->
                                                
                                            </ul>


                                        </div>

                                    </div>
                                </nav>
                            </div>	
                        </div>

                    </div>

                </div>
            </header> <!--End of header -->

            
            </body>
            </html>


            


            <!--home Section -->
            <section id="home" class="home">
                <div class="overlay">
                    <div class="home_skew_border">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12 ">
                                    <div class="main_home_slider text-center">
                                        <div class="single_home_slider">
                                            <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                                <h1>FEEDING CHANGE</h1>    
                                                <h1>FIGHTING WASTE</h1>
                                                <h2>BRIDGING THE FOOD GAP SUSTAINABLY</h2>
                                                <div class="separator"></div>
                                                <p>
                                                    Transforming surplus food into opportunity, Dब्बा is a platform that connects donors and recipients, combating food waste while promoting sustainability. Join us as we work towards a world where no one goes hungry, and surplus food becomes a catalyst for positive change.
                                                </p>
                                                <div class="home_btn">
                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!--End of home section -->


           
            <section id="feature" class="feature sections">
                <div class="container">
                    <div class="row">
                        <div class="main_feature text-center">

                            <div class="col-sm-3">
                                <div class="single_feature">
                                    <div class="single_feature_icon">
                                        <i class="fa fa-clone"></i>
                                    </div>

                                    <h4>Efficiency</h4>
                                    <div class="separator3"></div>
                                    <p>Our app enhances the efficiency of food distribution, ensuring surplus food reaches those in need promptly. By streamlining the process, we reduce food waste, preventing unnecessary environmental impact caused by disposal and transportation.</p>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="single_feature">
                                    <div class="single_feature_icon">
                                        <i class="fa fa-heart-o"></i>
                                    </div>

                                    <h4>Sustainability</h4>
                                    <div class="separator3"></div>
                                    <p>
                                        By diverting surplus food from landfills and redirecting it to communities in need, our app promotes sustainability. It minimizes greenhouse gas emissions associated with food decomposition and reduces the demand for new food production, preserving natural resources and mitigating environmental degradation.
                                    </p>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="single_feature">
                                    <div class="single_feature_icon">
                                        <i class="fa fa-lightbulb-o"></i>
                                    </div>
                                    <h4>Empowerment</h4>
                                    <div class="separator3"></div>
                                    <p>Our app empowers individuals and organizations to actively participate in reducing food waste. By providing a platform to donate surplus food, we enable users to make a tangible difference in their communities. This empowerment fosters a sense of responsibility and encourages sustainable practices.</p>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="single_feature">
                                    <div class="single_feature_icon">
                                        <i class="fa fa-comments-o"></i>
                                    </div>

                                    <h4>Awareness</h4>
                                    <div class="separator3"></div>
                                    <p>Our app raises awareness about the magnitude of food waste and its environmental consequences. Through educational resources and informative content, users gain insights into the environmental impact of food waste. This increased awareness fosters a collective effort to combat waste and promotes a more sustainable mindset.

                                        </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div><!--End of container
            </section><!--End of feature Section -->
            <hr />


           






             <!-- Pricing Section  -->
            <section id="pricing" class="pricing">
                <div class="container">
                    <div class="row">
                        <div class="main_pricing_area sections">
                            <div class="head_title text-center"> 
                                <h2>FOOD RESOURCES</h2>
                                  
                                <div class="separator"></div>
                            </div>  



                            <style>
                                .clothes-list {
                                  display: flex;
                                  flex-wrap: wrap;
                                  justify-content: space-between;
                                }
                                
                                .clothes-item {
                                  width: calc(33.33% - 10px);
                                  margin-bottom: 20px;
                                  background-color: #f8f8f8;
                                  padding: 10px;
                                  color: white;
                                }
                              </style>
                              
                              <div class="clothes-list">
                                <div class="clothes-item">
                                  <img src="./assets/images/food1.avif" alt="food1">
                                  <ul style="color: #000;">
                                    <li>Details 1</li>
                                    <li>Details 2</li>
                                    <li>Details 3</li>
                                  </ul>
                                  <div class="buttons">
                                    
                                    <button class="contact-seller-btn">Contact Donor</button>
                                  </div>
                                </div>
                                
                                <div class="clothes-item">
                                  <img src="./assets/images/food4.avif" alt="food2">
                                  <ul style="color: #000;">
                                    <li>Details 1</li>
                                    <li>Details 2</li>
                                    <li>Details 3</li>
                                  </ul>
                                  <div class="buttons">
                                    
                                    <button class="contact-seller-btn">Contact Donor</button>
                                  </div>
                                </div>
                                
                                <div class="clothes-item">
                                  <img src="./assets/images/food3.avif" alt="food3">
                                  <ul style="color: #000;">
                                    <li>Details 1</li>
                                    <li>Details 2</li>
                                    <li>Details 3</li>
                                  </ul>
                                  <div class="buttons">
                                   
                                    <button class="contact-seller-btn">Contact Donor</button>
                                  </div>
                                </div>
                              </div>
                              

                           

                              <section id="team" class="team">
                                <div class="container">
                                    <div class="row">
                                        <div class="main_pricing_area sections">
                                            <div class="head_title text-center"> 
                                                <h2>DONATE FOOD</h2>
                                                <div class="separator"></div>
                                                <div id="sellForm" class="form-container">
                                                    <!-- <h2>Add Clothes for Sale</h2> -->
                                                    <form id="sellItemForm">
                                                      <div class="form-group">
                                                        <label for="title" class="form-label">FOOD TITLE</label>
                                                        <input type="text" id="title" class="form-input" placeholder="Enter product title">
                                                      </div>
                                                  
                                                      <div class="form-group">
                                                        <label for="description" class="form-label">FOOD DISCRIPTION</label>
                                                        <input type="text" id="product description" class="form-input" placeholder="Enter product description">
                                                      </div>
                                                  
                                                      <div class="form-group">
                                                        <label for="price" class="form-label">ADDRESS</label>
                                                        <input type="text" id="price" class="form-input" placeholder="Enter price">
                                                      </div>

                                                      <div class="form-group">
                                                        <label for="contact" class="form-label">CONTACT DETAILS</label>
                                                        <input type="text" id="contact" class="form-input" placeholder="Enter contact details">
                                                      </div>
                                                  
                                                      <div class="form-group">
                                                        <label for="image" class="form-label">Image</label>
                                                        <input type="file" id="image" class="form-input">
                                                      </div>
                                                  
                                                      <button type="submit" id="submitBtn" class="orange-btn">Submit</button>
                                                    </form>
                                                  </div>
                                                  
                                             </div>    
                
                                             <!-- <script>
                                               const sellItemForm = document.getElementById('sellItemForm');
                
                                                    sellItemForm.addEventListener('submit', function(event) {
                                                    event.preventDefault();
                
                                                    // Retrieve the entered values from the form
                                                    const title = document.getElementById('title').value;
                                                    const description = document.getElementById('description').value;
                                                    const price = document.getElementById('price').value;
                                                    const image = document.getElementById('image').files[0]; // Assuming only one file is selected
                
                                                    // Create a FormData object to store the form data
                                                    const formData = new FormData();
                                                    formData.append('title', title);
                                                    formData.append('description', description);
                                                    formData.append('price', price);
                                                    formData.append('image', image);
                
                                                    // Make an AJAX request to send the form data to the server
                                                    fetch('http://localhost:8080/sell', {
                                                        method: 'POST',
                                                        body: formData
                                                    })
                                                    .then(response => response.json())
                                                    .then(data => {
                                                        // Handle the response from the server
                                                        console.log('Data uploaded successfully:', data);
                                                        // Perform any other actions or show success message
                                                    })
                                                    .catch(error => {
                                                        console.error('Error uploading data:', error);
                                                        // Handle error and show error message
                                                    });
                                                    });
                
                                              </script> -->
                
                



          
            


           
            <section id="contact" class="contact">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="contact_contant sections">
                                <div class="head_title text-center">
                                    <h2>RECIPE</h2>
                                    <div class="separator"></div>
                                 
                                 </div>
                                </div>
                            </div>
                        </div>
             </section>

             

  <section id="blog" class=""blog style="margin-top: 100px;">
    <form class="form-container">
        <h2>Login/Register</h2>
        <input type="text" id="email" placeholder="Email">
        <input type="password" id="password" placeholder="Password">
        <button id="loginBtn">Login</button>
        <button id="registerBtn">Register</button>
    </form>

   

  </section>


   <!-- about us section
   <section id="history" class="history sections">
    <div class="container">
        <div class="row">
            <div class="main_history">
                <div class="col-sm-6">
                    <div class="single_history_img">
                        <img src="assets/images/stab1.png" alt="" />
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="single_history_content">
                        <div class="head_title">
                            <h2>ABOUT US</h2>
                        </div>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page 
                            when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal 
                            distribution of letters, as opposed to using 'Content here, content here', making it 
                            look like readable English. Many desktop publishing packages and web page editors now use 
                            Lorem Ipsum as their default model text, and a search for 'lorem ipsum' </p> -->

                        
                    </div>
                </div>
            </div>
        </div><!--End of row -->
    </div><!--End of container -->
</section><!--End of history -->








        <!-- START SCROLL TO TOP  -->

        <div class="scrollup">
            <a href="#"><i class="fa fa-chevron-up"></i></a>
        </div>

        <script src="assets/js/vendor/jquery-1.11.2.min.js"></script>
        <script src="assets/js/vendor/bootstrap.min.js"></script>

        <script src="assets/js/jquery.magnific-popup.js"></script>
        <script src="assets/js/jquery.mixitup.min.js"></script>
        <script src="assets/js/jquery.easing.1.3.js"></script>
        <script src="assets/js/jquery.masonry.min.js"></script>

        <!--slick slide js -->
        <script src="assets/css/slick/slick.js"></script>
        <script src="assets/css/slick/slick.min.js"></script>


        <script src="assets/js/plugins.js"></script>
        <script src="assets/js/main.js"></script>

    </body>
</html>
